$autumn-primary: whitesmoke;
$autumn-secondary: #e26f03;

.bg-autumn {
  background-color: $autumn-primary !important;
  color: $autumn-secondary !important;
}

.bg-image-autumn {
  background-image: url("~assets/frames/autumn.png");
  background-repeat: no-repeat !important;
}

.bgi-autumn {
  background-color: $autumn-primary !important;
  color: $autumn-secondary !important;
}

.bgt-autumn {
  background-color: $autumn-secondary !important;
  color: #000 !important;
  background: linear-gradient(0deg, $autumn-secondary, #fff);
}

.txt-dark-autumn {
  color: $autumn-secondary !important;
}

.txt-autumn {
  color: $autumn-secondary !important;
}

// Main Section
.title-autumn {
  font-size: 1.3rem;
  line-height: 1;
  margin: 0.5rem auto 0;
}

.couples-autumn {
  font-size: 3rem;
  //   margin-bottom: 1rem;
  line-height: 1.3;
  & > .amp {
    line-height: 1;
    font-size: 2rem;
  }
}

.dates-autumn {
  margin-bottom: 1rem;

  & > .date-gregorian {
    font-size: 1.3rem;
  }

  & > .date-hijri {
    font-size: 1.1rem;
  }
}

.venue-autumn {
  //   font-weight: 600;
  font-size: 1.3rem;
}
// End Main Section

.footer-autumn {
  background-image: -webkit-radial-gradient(
    50% 0%,
    circle closest-corner,
    transparent 0,
    transparent 35px,
    $autumn-secondary 36px
  );
  color: $autumn-primary;
}
