$baby-blue-floral-primary: #cdebf9;
$baby-blue-floral-secondary: #363636;

.bg-baby-blue-floral {
  background-color: $baby-blue-floral-primary !important;
  color: $baby-blue-floral-secondary !important;
}

.bg-image-baby-blue-floral {
  background-image: url("~assets/frames/pink_flower.png");
  background-repeat: no-repeat !important;
}

.bgi-baby-blue-floral,
.bgt-baby-blue-floral {
  background-color: $baby-blue-floral-primary !important;
  color: $baby-blue-floral-secondary !important;
}

.bgt-baby-blue-floral {
  background: linear-gradient(0deg, $baby-blue-floral-primary, #fff);
}

.txt-dark-baby-blue-floral {
  color: $baby-blue-floral-secondary !important;
}

.txt-baby-blue-floral {
  color: $baby-blue-floral-secondary !important;
}

// Main Section
.title-baby-blue-floral {
  font-size: 1.3rem;
  line-height: 1;
  margin: 0.5rem auto 0;
}

.couples-baby-blue-floral {
  font-size: 3rem;
  //   margin-bottom: 1rem;
  line-height: 1.3;
  & > .amp {
    line-height: 1;
    font-size: 2rem;
  }
}

.dates-baby-blue-floral {
  margin-bottom: 1rem;

  & > .date-gregorian {
    font-size: 1.3rem;
  }

  & > .date-hijri {
    font-size: 1.1rem;
  }
}

.venue-baby-blue-floral {
  //   font-weight: 600;
  font-size: 1.3rem;
}
// End Main Section

.footer-baby-blue-floral {
  background-image: -webkit-radial-gradient(
    50% 0%,
    circle closest-corner,
    transparent 0,
    transparent 35px,
    $baby-blue-floral-secondary 36px
  );
  color: $baby-blue-floral-primary;
}
