// $blush-primary: #faa5c2;
$blush-primary: #F9BED2;
$blush-secondary: #220401 ;

.bg-blush {
  background-color: $blush-primary !important;
  color: $blush-secondary !important;
}

.bg-image-blush {
  background-image: url("~assets/frames/blushgold.png");
  background-repeat: no-repeat !important;
}

.bgi-blush {
  background-color: $blush-primary !important;
  color: $blush-secondary !important;
}

.bgt-blush {
  // color: $blush-secondary;
  background: linear-gradient(0deg, $blush-primary, #fff);
}

.txt-dark-blush {
  color: $blush-secondary !important;
}

.txt-blush {
  color: $blush-secondary !important;
}

.guest.available.blush {
  background-color: $blush-secondary !important;
  color: $blush-primary !important;
}

// Main Section
.title-blush {
  font-size: 1.3rem;
  line-height: 1;
  padding-top: 30%;
}

.couples-blush {
  font-size: 3rem;
  //   margin-bottom: 1rem;
  line-height: 1.3;
  & > .amp {
    line-height: 1;
    font-size: 2rem;
  }
}

.dates-blush {
  margin-bottom: 1rem;

  & > .date-gregorian {
    font-size: 1.3rem;
  }

  & > .date-hijri {
    font-size: 1.1rem;
  }
}

.venue-blush {
  //   font-weight: 600;
  font-size: 1.3rem;
}
// End Main Section

.footer-blush {
  background-image: -webkit-radial-gradient(
    50% 0%,
    circle closest-corner,
    transparent 0,
    transparent 35px,
    $blush-secondary 36px
  );
  color: $blush-primary;
}
