$brush-primary: whitesmoke;
$brush-secondary: #546FA8 ;

.bg-brush {
  background-color: $brush-primary !important;
  color: $brush-secondary !important;
}

.bg-image-brush {
  background-image: url("~assets/frames/brush.png");
  background-repeat: no-repeat !important;
}

.bgi-brush {
  background-color: $brush-primary !important;
  color: $brush-secondary !important;
}

.bgt-brush {
  color: $brush-primary;
  background: radial-gradient(#8294BF, $brush-secondary);
}

.txt-dark-brush {
  color: $brush-secondary !important;
}

.txt-brush {
  color: $brush-secondary !important;
}

// Main Section
.title-brush {
  font-size: 1.3rem;
  line-height: 1;
  margin: 0.5rem auto 0;
}

.couples-brush {
  font-size: 3rem;
  //   margin-bottom: 1rem;
  line-height: 1.3;
  & > .amp {
    line-height: 1;
    font-size: 2rem;
  }
}

.dates-brush {
  margin-bottom: 1rem;

  & > .date-gregorian {
    font-size: 1.3rem;
  }

  & > .date-hijri {
    font-size: 1.1rem;
  }
}

.venue-brush {
  //   font-weight: 600;
  font-size: 1.3rem;
}
// End Main Section

.footer-brush {
  background-image: -webkit-radial-gradient(
    50% 0%,
    circle closest-corner,
    transparent 0,
    transparent 35px,
    $brush-secondary 36px
  );
  color: $brush-primary;
}
