$classic-secondary: #6d654a;
$classic-primary: #d3e7e6;

.bg-classic {
  background-color: $classic-primary !important;
  color: $classic-secondary !important;
}

.bg-image-classic {
  background-image: url("~assets/frames/classic.jpg");
  background-repeat: no-repeat !important;
}

.bgi-classic,
.bgt-classic {
  background-color: $classic-primary !important;
  color: $classic-secondary !important;
}

.txt-dark-classic {
  color: $classic-secondary !important;
}

.txt-classic {
  color: $classic-secondary !important;
}

// Main Section
.title-classic {
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.couples-classic {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  & > .amp {
    line-height: 1;
    font-size: 2rem;
  }
}

.dates-classic {
  margin-bottom: 1rem;

  & > .date-gregorian {
    font-size: 1.3rem;
  }

  & > .date-hijri {
    font-size: 1.1rem;
  }
}

.venue-classic {
  //   font-weight: 600;
  font-size: 1.3rem;
}
// End Main Section

.footer-classic {
  background-image: -webkit-radial-gradient(
    50% 0%,
    circle closest-corner,
    transparent 0,
    transparent 35px,
    $classic-secondary 36px
  );
  color: $classic-primary;
}
