$elegant-primary: #000;
$elegant-secondary: #FFD700;

.bg-elegant,
.bgt-elegant {
  background-color: $elegant-primary !important;
  color: $elegant-secondary !important;
}

.bg-image-elegant {
  background-image: url("~assets/frames/gold.png");
}

.bgi-elegant {
  background-color: $elegant-secondary !important;
  color: $elegant-primary !important;
}
.txt-dark-elegant,
.txt-elegant {
  color: $elegant-primary !important;
}

.guest.available {
  color: $elegant-secondary !important;
}

// Main Section
.title-elegant {
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.couples-elegant {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  & > .amp {
    line-height: 1;
    font-size: 2rem;
  }
}

.dates-elegant {
  margin-bottom: 1rem;

  & > .date-gregorian {
    font-size: 1.3rem;
  }

  & > .date-hijri {
    font-size: 1.1rem;
  }
}

.venue-elegant {
  font-size: 1.3rem;
}
// End Main Section

.footer-elegant {
  background-image: -webkit-radial-gradient(
    50% 0%,
    circle closest-corner,
    transparent 0,
    transparent 35px,
    $elegant-secondary 36px
  );
  color: $elegant-primary;
}
