$elegant-primary: #0A2360; // #000080;
$elegant-secondary: #FFFFFF;

.bg-elegant,
.bgt-elegant {
  background-color: $elegant-primary !important;
  color: $elegant-secondary !important;
}

.bg-image-elegant {
  background-image: url("~assets/frames/custom/Maria-BG.png");
  // background-image: url("https://aliveinvitebeta.s3.ap-southeast-1.amazonaws.com/kdwpv7vMZ4M1ZXYPenETkoDE?response-content-disposition=inline%3B%20filename%3D%22Maria-BG.png%22%3B%20filename%2A%3DUTF-8%27%27Maria-BG.png&response-content-type=image%2Fpng&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAUR22KYDDP6YHRKP6%2F20240701%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20240701T131449Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Signature=17f48da136985d54b8f65c6bc7311533de096d2781648f0a07352bc85bafee1c");
}

.bgi-elegant {
  background-color: $elegant-secondary !important;
  color: $elegant-primary !important;
}
.txt-dark-elegant,
.txt-elegant {
  color: $elegant-primary !important;
}

.guest.available.elegant {
  color: $elegant-secondary !important;
  background-color: $elegant-primary !important;
}

// Main Section
.title-elegant {
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.couples-elegant {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  & > .amp {
    line-height: 1;
    font-size: 2rem;
  }
}

.dates-elegant {
  margin-bottom: 1rem;

  & > .date-gregorian {
    font-size: 1.3rem;
  }

  & > .date-hijri {
    font-size: 1.1rem;
  }
}

.venue-elegant {
  font-size: 1.3rem;
}
// End Main Section

.footer-elegant {
  background-image: -webkit-radial-gradient(
    50% 0%,
    circle closest-corner,
    transparent 0,
    transparent 35px,
    $elegant-secondary 36px
  );
  color: $elegant-primary;
}
