$lavender-primary: #e6e6fa;
$lavender-secondary: #443f93;

.bg-lavender,
.bgt-lavender {
  background-color: $lavender-primary !important;
  color: $lavender-secondary !important;
}

.bg-image-lavender {
  background-image: url("~assets/frames/lavender.png");
}

.bgi-lavender {
  background-color: $lavender-secondary !important;
  color: $lavender-primary !important;
}

.txt-dark-lavender {
  color: $lavender-secondary;
}

.txt-lavender {
  color: $lavender-primary !important;
}

// Main Section
.title-lavender {
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 0.5rem;
  padding-top: 1.5rem;
}

.couples-lavender {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  & > .amp {
    line-height: 1;
    font-size: 2rem;
  }
}

.dates-lavender {
  margin-bottom: 1rem;

  & > .date-gregorian {
    font-size: 1.3rem;
  }

  & > .date-hijri {
    font-size: 1.1rem;
  }
}

.venue-lavender {
  font-size: 1.3rem;
}
// End Main Section

.footer-lavender {
  background-image: -webkit-radial-gradient(
    50% 0%,
    circle closest-corner,
    transparent 0,
    transparent 35px,
    $lavender-secondary 36px
  );
  color: $lavender-primary;
}
