$vector-pink-primary: #f57397;
$vector-pink-secondary: #323232;

.bg-image-vector-pink {
  background-image: url("~assets/frames/vector-pink.jpg");
}

.bg-vector-pink,
.bgt-vector-pink,
.bgi-vector-pink {
  background-image: url("~assets/frames/vector-pink.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $vector-pink-primary !important;
  color: $vector-pink-secondary !important;
}

.txt-dark-vector-pink,
.txt-vector-pink {
  color: $vector-pink-secondary !important;
}

// Main Section
.title-vector-pink {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
}

.couples-vector-pink {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  & > .amp {
    line-height: 1;
    font-size: 2rem;
  }
}

.dates-vector-pink {
  font-weight: 600;
  margin-bottom: 1rem;

  & > .date-gregorian {
    font-size: 1.3rem;
  }

  & > .date-hijri {
    font-size: 1.2rem;
  }
}

.venue-vector-pink {
  font-size: 1.3rem;
  font-weight: 600;
}
// End Main Section

.footer-vector-pink {
  background-image: -webkit-radial-gradient(
    50% 0%,
    circle closest-corner,
    transparent 0,
    transparent 35px,
    $vector-pink-secondary 36px
  );
  color: $vector-pink-primary;
}
