$wine-primary: #650000;
$wine-secondary: #edc844;

.bg-wine,
.bgt-wine {
  background-color: $wine-primary !important;
  color: $wine-secondary !important;
}

.bg-image-wine {
  background-image: url("~assets/frames/gold.png");
}

.bgi-wine {
  background-color: $wine-secondary !important;
  color: $wine-primary !important;
}
.txt-dark-wine,
.txt-wine {
  color: $wine-primary !important;
}

// Main Section
.title-wine {
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.couples-wine {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  & > .amp {
    line-height: 1;
    font-size: 2rem;
  }
}

.dates-wine {
  margin-bottom: 1rem;

  & > .date-gregorian {
    font-size: 1.3rem;
  }

  & > .date-hijri {
    font-size: 1.1rem;
  }
}

.venue-wine {
  font-size: 1.3rem;
}
// End Main Section

.footer-wine {
  background-image: -webkit-radial-gradient(
    50% 0%,
    circle closest-corner,
    transparent 0,
    transparent 35px,
    $wine-secondary 36px
  );
  color: $wine-primary;
}
