
/*
Default Font 
*/
@font-face {
    font-family: 'Omnes';
    src: local('Omnes'),
        url(~assets/fonts/Omnes.ttf) format('truetype');
}
$font-url: 'https://fonts.googleapis.com/css?family=Poppins:wght@500|Nothing+You+Could+Do&display=swap';

$cover-font: 'Nothing You Could Do';
$primary-font: 'Omnes', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$countdown-font: 'Nothing You Could Do';
// $countdown-font: 'Alex Brush', cursive;
