
/*
Default Font 
*/
$font-url: "https://fonts.googleapis.com/css?family=Poppins:300|Bilbo+Swash+Caps|Nothing+You+Could+Do";

$primary-font: "Nothing You Could Do", cursive;
$secondary-font: "Poppins", sans-serif;
$countdown-font: "Bilbo Swash Caps", cursive;
// $countdown-font: "Alex Brush", cursive;
